<form class="loginform" action="/login" method="post"  >
  <label for="">User email</label>
  <input type="text" name="email">
  <label for="">Password</label>
  <input type="password" name="password">
  <button>Log in</button>
</form>
