<form class="user_new"action="/user_create" method="post"  >
  <div>
    <label for="">User name</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="">User email</label>
    <input type="text" name="email">
  </div>
   <div>
    <label for="">Delivery address</label>
    <input type="text" name="delivery_address">
  </div>
  <div>
    <label for="">Car model</label>
    <input type="text" name="users_car">
  </div>
   <div>
    <label for="">Model year</label>
    <input type="text" name="users_car_year"  placeholder="2019">
  </div>
  <div class="pw">
    <label for="">password</label>
    <input type="password" name="password">
  </div>
  <div>
    <button>Sign Up!</button>
  </div>




</form>