/* reset */

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: inherit;
  font-weight: normal;
}

body {
  margin: 0;
}

img{
  width: 100%;
  border: 0;
}
